/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

$yellow: #fecb2f;
$blue: #0f6fb3;
$red: #e31f2c;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Futura-Bold', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -.05em;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.inverted {
  color: $mainColor;
  .slide-background-content {
    background-color: $yellow;
  }

}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
.reveal img {
	max-width: 50%;
}